@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --cor00: #000000;
  --cor01: #111111;
  --cor11: #f7f7f7;
  --cor12: #ffffff;
  --cor14: #664400;
  --cor15: #a66f00;
  --cor17: #e4a30b;
  --fonte-principal: 'Roboto', sans-serif;
  --fonte-secundaria: 'Poppins', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url("Imagens/grafico.jpg");
  background-size: 1500px;
  text-align: center;
  width: auto;
  padding: 50px 50px;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr;
  gap:30px;
}

header > h1 {
  color: var(--cor12);
  font-family: var(--fonte-principal);
  font-size: 3em;
  margin-bottom: 20px;
}

header > p {
  color: var(--cor12);
  font-family: var(--fonte-secundaria);
  font-size: 1.5em;
}

.botao {
  background-color:var(--cor17) !important;
  color: var(--cor14) !important;
  border-color:var(--cor14) !important;
  width:auto !important; 
  justify-self: center;
}

.botao:hover{
  background: linear-gradient( #FFB60d ,#e59317);
}

main {
  text-align: center;
  padding-top: 30px;
  min-width: 300px;
  max-width: 100%;
  margin:auto;
}

.video iframe {
  border: thick solid var(--cor00);
  box-shadow: 0px 0px 0px 3px var(--cor17);
  border-radius: 5px;
}

.video {
  padding-top: 30px;
}

#linha-horizontal {
  width: 1200px;
  border: 1px solid;
  margin: auto;
}

.sobre {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  padding-top: 40px;
  padding-bottom: 30px;
}

.descriçao {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}

.coluna img {
  width: 350px;
  height: 525px;
  border: medium solid var(--cor17);
  border-radius: 10px;
}

.coluna {
  background-color: var(--cor01);
  display:flex;
  padding: 20px 0px 20px 0px;
  gap:40px;
  justify-content: center;
}
.icones{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top:40px;
  gap: 50px;
}

#botao-coluna{

  margin-bottom:20px;
  margin-top:0px;
}


.foto_cristian {
  background-color: var(--cor01);
  display:flex;
  font-family: var(--fonte-secundaria);
  color: var(--cor12);
}
#foto_cristian-texto{
  display:grid;
  grid-template-columns: 1fr;
  margin: auto;
  gap:20px;
  line-height: 2em;
  max-width: 800px;
}

.cristian_foto img {
  width: 350px;
  height: 525px;
  margin: 40px 40px;
  border: medium solid var(--cor17);
  border-radius: 10px;
}

.lista {
  font-family: var(--fonte-secundaria);
  line-height: 2em;
  font-size: 2rem;
  text-align: left;
  display:grid;
  grid-template-columns: 1fr;
  justify-content:center;
  padding:20px 0px 20px 0px;
}

#lista-op {
  font-weight: bold;
  font-size: 1.3rem;
}



.primeira_oferta {
  background-color: var(--cor12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor00);
  line-height: 2em;
  line-break: auto;
}

.segunda_oferta {
  background-color: var(--cor12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor00);
  line-height: 2em;
  line-break: auto;
}

.terceira_oferta {
  background-color: var(--cor12);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor00);
  line-height: 2em;
  line-break: auto;
}

.ofertas img {
  width: 200px;
  height: 300px;
  margin: 20px 40px;
  border: medium solid var(--cor17);
  border-radius: 10px;
}

.contador {
  background-color: var(--cor00);
  color: var(--cor12);
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.logo {
  font-family: var(--fonte-secundaria);
  text-align: left;
  margin-left: 100px;
}

.email {
  font-family: var(--fonte-secundaria);
  text-align: right;
  font-size: 0.80em;
  margin-right: 100px;
}

.endereço {
  font-family: var(--fonte-secundaria);
  text-align: center;
}

.rede_social {
  font-family: var(--fonte-secundaria);
  font-size: 1.25em;
  text-align: left;
  margin-left: 100px;
}

.logotipo {
  text-align: left;
  margin-left: 100px;
}

.atendimento h4 {
  font-family: var(--fonte-secundaria);
  font-size: 1.65em;
  
}
.atendimento {
  font-family: var(--fonte-secundaria);
  font-size: 0.80em;
  text-align: center;
  margin-top: 40px;
}
footer {
  background-color: var(--cor01);
  color: var(--cor12);
  text-align: center;
  width: auto;
  height: auto;
  margin-top: 80px;
  padding-bottom: 40px;
  border-radius: 5px;
  
}
